/* @author Heath Dyer (hadyer) 
   @author Gabriel Dean (gpdean) */

/* Default: Mobile */
/* Input field types */
input {
    width: 90%;
    border-radius: 6px;
    padding: .75rem;
    font-size: 1rem;
}

input[type="text"], input[type="password"] {
    border: 2px solid #444;
    outline: none;
    background-color: #2a2a2a;
    color: white;
}

input[type="file"] {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: rgb(33, 151, 33);
    font-weight: bold;
}

/* Tablet Potrait*/
@media screen and (min-width: 768px) {
    h1 {
        margin: 0;
        padding: .5rem;
    }
}

/* Desktop */
@media screen and (min-width: 1260px) {
    h1, h3 {
        margin: 0;
        padding: .5rem;
    }

    input {
        font-size: .75rem;
    }
}

/*
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #ffcc00;
}

input[type="submit"] {
    box-sizing: content-box;
    background-color: #ffcc00;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #ffdb4d;
}

.img-upload {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.img-upload:hover {
    opacity: 0.6;
}
*/

/*
@media screen and (min-width: 1260px) {
    input {
        padding: .75rem;
        font-size: 1.5rem;
    }

    input[type="text"], input[type="password"] {
        border: .25rem solid #444;
    }
} */


.settings-menu {
    gap: .5rem;
    margin: 0 .5rem;
}

.settings-menu-item {
    background-color: #ffcc00;
    color: black;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    border-radius: .75rem .75rem 0 0;
    flex: 1;
}

.settings-menu-item:hover {
    background-color: #ffcc00;
    color: black;
    cursor: pointer;
}