<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pay Your Friends</title>
</head>
<body>

    <header>
        <h1>Pay Your Friends</h1>
        <img src="images/dollar-sign.png">
    </header>
    <div class="form">
        <div class="form-section">
            <div class="form-component">
                    <h1>Error</h1>
                    <p class="error">Error occurred submitting form.</p>
            </div>
        </div>
    </div>
</body>
</html>